<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>
<body>
    <h1>{{ quiz }}</h1>

    <form method="post">
        {% csrf_token %}
        {% for q in question %}
            <h2>{{ q.text }}</h2>
            {% for option in q.multiplechoiceoption_set.all %}
                <input type="radio" name="answer_{{ q.id }}" value="{{ option.text }}" id="option{{ forloop.parentloop.counter }}_{{ forloop.counter }}">
                <label for="option{{ forloop.parentloop.counter }}_{{ forloop.counter }}">{{ option.text }}</label><br>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>